extends ../layout

block content
  .row
    .large-12.columns
      .row
        - if (typeof(books) !== "undefined")
          each book in books           
            .large-3.small-6.columns
              a(href="/books/#{book.isbn}")
                img(src="http://covers.openlibrary.org/b/isbn/#{book.isbn}-M.jpg")
              .panel.book-label
                a(href="/books/#{book.isbn}") #{book.title}