doctype 5
html
  head
    title Node Bookshelf
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- navigation
    .row
      .large-12.columns
        nav.top-bar
          ul.title-area
            li.name
              h1
                a(href="/") Node Bookshelf
          section.top-bar-section
            ul.right
              li.has-button
                a.small.button(href='/new') Add book
                
    //- main content
    block content
    
    //- footer
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p Node Bookshelf Lab 2013
          .large-6.columns
            ul.inline-list.right
              li
                a(href='http://www.startupinstitute.com/') Startup Institute